*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,li{
    list-style: none;
}
.flex-container{
    width: 600px;
    background-color: antiquewhite;
    margin: 100px auto;
    padding: 10px;
}
.flex-container ul{
    display: flex;
    gap: 10px;
    background-color: aqua;
}
.flex-container ul li{
    width: calc(100% / 4);
    padding: 10px;
    background-color: blueviolet;
    color: #fff;
    text-align: center;
}
.img-container{
    display: flex;
    gap: 40px;
    width: 700px;
    background-color: antiquewhite;
    padding: 20px;
}