* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrap{
    width: 500px;
    padding: 10px;
    background-color: red;
    margin:50px auto;
}
.naverwhale {
  /* width: 400px; */
  background-color: rgb(255, 255, 255);
  display: flex;
  gap: 20px;
  
  padding: 10px;
}
.naverwhale1 {
  width: 300px;
  background-color: rgb(255, 255, 255);
  padding: 40px;
  padding-left: 40px;
}
.naverwhaleimg{
    width: 150px;
    background-color: rgb(255, 255, 255);
    padding-right: 10PX;
}
.naverwhaleimg img{
    width: 100%;
    display: block;
}